* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(251, 251, 251);
}

.App {
  margin: auto;
  font-family: "Roboto", sans-serif;
  /* width: 80%; */
}

.user-logo {
  font-weight: bold;
  overflow: hidden;
}
.user-logo-cont {
  background-color: #212529;
}
.user-logo-cont:hover > .user-logo {
  display: none;
}
.user-logo-cont:hover > .user-logo-logout {
  display: block;
}
.user-logo-cont:hover {
  background-color: gray;
  cursor: pointer;
}

.addBtn {
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.addBtn:hover {
  background-color: tomato;
  color: white
}

.user-logo-logout {
  display: none;
  position: relative;
  /* font-size: 0.5em; */
  font-weight: bold;
}
